:root[theme='light']{
    --backgroundColor:	#D2E9FFd0;
    --textColor:#272727;
    --titleColor:#080808;
    --shadowColor:rgba(0, 0, 0, 0.08);
    --shadowColor2:rgba(0, 0, 0, 0.15);


}

:root[theme='dark']{
    --backgroundColor:#000079d0;
    --textColor: #f0f0f0;
    --titleColor:#fcfcfc;
    --shadowColor:rgba(255, 255, 255, 0.08);
    --shadowColor2:rgba(255, 255, 255, 0.4);

}
